
.icon-zoom-in:before { content: '\e800'; } /* '' */
.icon-heart-1:before { content: '\e801'; } /* '' */
.icon-zoom-out:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
